.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.authForm {
    
    width: 500px;
    
}

input {
    border-radius: 10px;
    padding: 30px;
    width: 300px;
}

button {
    
}